{% extends 'base.html' %}
<!--where dynamic content starts-->
{% block content %}

<title>About Finch Collector</title>
<h1>About Finch Collector</h1>
<hr>
<p>There are 17 North American finch species. These include crossbills, Evening and Pine Grosbeaks, redpolls, and siskins. Birds in the Fringillidae family all have compact bodies, conical bills, and short necks with large jaw muscles. They also have relatively pointed wings, notched tails, and distinctive flight calls.
<br>
<br>
    These small to medium-sized birds seem unassuming at first. However, when looked at more closely, their true beauty emerges. From the striking plumages of the three goldfinch species to the unusual and spectacular bills of crossbills and grosbeaks, finches really do have it all.
    <br>
    <br>
    While these social birds are relatively conspicuous, they should not be taken for granted: More than half of North America's finch species are in decline. New Hampshire, for example, is at risk of losing its state bird, the Purple Finch, as rising temperatures are expected to lead to a loss of 99 percent of this bird's summer range in the state. Brown-capped and Black Rosy-Finches are also in danger and are on Partners in Flight's (PIF's) Red Watch List, and only an estimated 6,000 Cassia Crossbills remain.
    <br>
    <br>
    Hazards like window collisions, outdoor cats, and pesticide use pose a threat to finches. Habitat loss from deforestation and other forms of land conversion are also major threats. But the effects of climate change seem to have taken the largest toll on finch populations.
    <br>
    <br>
    To help these birds and many others, American Bird Conservancy and other organizations are taking a multipronged approach by promoting bringing cats indoors, working to decrease glass collisions, and educating the public about sustainable habitat management and protecting birds from pesticides.
    </p>
    <hr>
    <a href="https://abcbirds.org/blog21/finch-species-united-states/"><p>Info from American Bird Conservancy</p></a>

<footer>All Rights Reserved, &copy; 2022 Finches</footer>

{% endblock %}



